*{
    margin: 0px;
    padding: 0px;
}

body{
    background: lightgray;
}

#container{
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 10px gray;
}

#header{
    height: 145px;
    background: #f0f0f0;

}

#logo{
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img{
    float: left;
    height: 100px;
}

#logo a{
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #01B1EA;
    text-decoration: none;
    font-weight: bold;
    margin-top: 18px;
    margin-left: 25px;
    text-shadow: 0px 2px 1px #222222;
    transition: all 100ms;
}

#logo a:hover{
    text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

#menu{
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
    list-style: none;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 12px;
    padding-left: 12px;
    transition: all 100ms;
}

#menu a:first-child{
    border-left: 1px solid #363636;
}

#menu a:hover{
    background: #01B1EA;
}

#content{
    margin: 0px auto;
    overflow: hidden;
    background: white;
}

#lateral{
    width: 20%;
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid red;
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid blue;
}

#lateral h3{
    display: block;
    color: #222222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

input[type="text"],
input[type="password"],
input[type="email"]
{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 2px #ccc insert;
    background: white;
    padding: 2px;
    color: gray;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus
{
    border: 1px solid #1579b5;
    color: black;

}

input[type="submit"],
input[type="button"],
button, .button
{
    display: block;
    margin-top: 10px;
    border-radius: 2px;
    width: 98%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979cd;
    border: 1px solid #11608e;
    cursor: pointer;
}

#central{
    width: 70%;
    min-height: 600px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;

}

#central h1{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #C9C9C9;
    margin-bottom: 20px;
}

.product img{
    width: 80%;
    height: 200px;
}

.product {
    width: 30%;
    float: left;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product a{
    color: black;
    text-decoration: none;
    width: 75%;
}

.product a:hover{
    color: #ffffff;
}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 5px solid #01B1EA;
}